{% extends "blog/base.html" %} 
{% load crispy_forms_tags %}
{% block content %} 
<div class="d-flex">
    <div class="text-center">
        <img style="width: 200px; height:200px; border-radius: 50%" src="{{user.profile.image.url}}" alt="profile_picture">
    </div>
    <div class="mx-5 mt-5">
        <h4>Name: <span class="text-muted">{{user.first_name}} {{user.last_name}}</span></h4>
    <h4>Email: <span class="text-muted">{{user.email}}</span></h4>
    </div>
</div>
<div class="mt-5">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="mb-2">Update Your Profile</legend>
            {{u_UpdateForm|crispy}}
            {{p_UpdateForm|crispy}}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info my-2" type="submit">Update</button>
        </div>
    </form>
</div>

{% endblock content %}
    